/* Zera margens e preenchimentos padrão dos elementos e define box-sizing, que facilita o controle de tamanhos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #c4c4c4;
}

/* Cabeçalho fixo com menu flex */
header {
  background: #222;
  color: #ff9800;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

/* ajuste ao tamanho do header */
html {
  scroll-padding-top: 80px; 
}

/* Flexbox no menu para alinhar o título à esquerda e os links à direita */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* altera o tamanho da fonte do título */
nav h1{
    font-size: 1.5rem;
}

/* Remove marcadores da lista e alinha links na horizontal */
nav ul{
    display: flex;
    list-style: none;
}

/* Links do menu */
nav ul li{
    margin-left: 1rem;
}

/* Links do menu */
nav ul li a{
    color: #ff9800;
    text-decoration: none;
}

/* Links do menu */
nav ul li a:hover{
    color: #fff;
}

/* Seção inicial com texto centralizado e espaçamento */
.destaque{
    text-align: center;
    padding: 100px 20px 60px;
    background: #f4f4f4;
}

/* Blocos de conteúdo centralizados, largura máxima definida, borda superior e cantos arredondados */
section{
    padding: 60px 20px;
    max-width: 920px;
    margin: auto;
    border-top: 5px solid #222;
    background-color: #f4f4f4;
    text-align: justify;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 25px
}

/* Centraliza o subtítulo */
h2{
    text-align: center;
}

/* As imagens do “Sobre Mim” ficam lado a lado (ou quebram a linha se faltar espaço), com bordas finas */
.imagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2rem;
}

.imagens img{
  width: 290px; 
  height: auto;
  border: 2px solid #555;
  border-radius: 2px;
}

/* As imagens do “Formação Educacional e Idiomas” ficam lado a lado (ou quebram a linha se faltar espaço), com bordas finas  */
.imagens2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2rem;
    
}

.imagens2 img{
  max-width: 100%;
  height: auto;
  border: 2px solid #555;
  border-radius: 2px;
}

/* centraliza o texto */
.container {
  text-align: center; 
}

/* Cria um botão estilizado que muda de cor ao passar o mouse */
.container a{
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.container a:hover{
    background: #2980b9;
}

/* Campos e botão, botão laranja com efeito hover. */
form {
  display: flex;
  flex-direction: column;
}

form input, form textarea{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd ;
    border-radius: 4px;
}

form button{
    padding: 10px;
    background: #ff9800;
    border: none;
    color: #ffffff;
    border-radius: 12px;
    cursor: pointer;
}

form button:hover{
    background-color: #a06102;
}

/* Rodapé com texto centralizado. */
footer{
    text-align: center;
    padding: 1rem;
    background-color: #222;
    color: #fff;
    margin-top: 20px;
}

/* Em telas pequenas, o menu vira uma lista vertical e ajusta o espaçamento */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 0.5rem 0;
  }
}